.box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  animation: move 2s;
  animation-iteration-count: 1;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(100px, 100px);
  }
  75% {
    transform: translate(0, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}
