.disabled {
  opacity: 0.2; /* 투명도를 20%로 낮춘다 */
}
[disabled] {
  opacity: 0.2;
  color: red;
}
[type="password"] {
  color: yellow;
}

[class^="btn-"] {
  font-weight: bold;
  border-radius: 20px;
}

[class$="Success"]{
  color: green;
}

[class$="Danger"]{
  color: grey;
}
