article {

}
article .picture {
  width: 200px;
  height: 200px;
  background: tomato;
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
}
article .text {
  clear: left;
}
.box {
  width: 100px;
  height: 100px;
  background: green;
  color: white;
  font-size: 30px;
  margin: 10px;
  float: right;
}
.box1 {
  width: 150px;
  height: 200px;
  background: orange;
  clear: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.float-box {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: orange;
  float: left;
}

.new-box {
  width: 200px;
  height: 200px;
  margin: 10px;
  background: green;
}
