.box {
  width: 100px;
  height: 100px;
  background: red;
  margin: 50px;
  transition: 2s;
  display: flex;
  font-size: 30px;
  color: white;
  justify-content: center;
  align-items: center;
}
.box:hover {
  width: 300px;
  background: blue;
  transform: translate(30px 30px);
}
