
.cards{
  padding: 50px;
}
.card {
  width: 150px;
  height: 200px;
  position: relative;
  perspective: 600px;
  float: left;
  margin-right: 100px;
}
.card:last-child {
  margin-right: 0;
}
.card .face {
  width: 200px;
  height: 200px;
  border: 4px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  position: absolute;
  backface-visibility: hidden;
  background-color: white;
}
.card .face-front {
  transform: rotateY(0deg);
}
.card:hover .face-front {
  transform: rotateY(-180deg);
}
.card .face-back {
  transform: rotateY(180deg);
  background-image: url("https://heropy.blog/css/images/pattern.png");
}
.card:hover .face-back {
  transform: rotateY(0deg);
}
.card .face-front img {
  width: 200px;
  filter: grayscale();
}
.card .face-back img {
  width: 150px;
}
